[submodule "external/doxygen-awesome-css"]
	path = external/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "external/tfd"]
	path = external/tfd
	url = git@github.com:umutsevdi/tinyfiledialogs.git
[submodule "external/jsoncpp"]
	path = external/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "external/doctest"]
	path = external/doctest
	url = https://github.com/doctest/doctest.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "external/ImNodeFlow"]
	path = external/ImNodeFlow
	url = https://github.com/Fattorino/ImNodeFlow.git
[submodule "external/cpp-base64"]
	path = external/cpp-base64
	url = https://github.com/ReneNyffenegger/cpp-base64.git
[submodule "external/imnodes"]
	path = external/imnodes
	url = https://github.com/Nelarius/imnodes.git
